NODE_ENV=production # change locally to get test endpoint
DEPLOYED_HEALTHCHECK_URL=healthcheck.railway.app

DATABASE_URL=POOLED_DATABASE_URL # required

REDIS_URL=REDIS_URL # required

STRIPE_SECRET_KEY=STRIPE_SECRET_KEY # required
STRIPE_ENDPOINT_SECRET=STRIPE_ENDPOINT_SECRET #required

SIGNING_SECRET=SIGNING_SECRET # required
RESEND_SECRET_KEY=RESEND_SECRET_KEY #required

# DEVELOPMENT ONLY ================================================================
# These are used to run postgres-db-migrate service to set-up and seed DB.
# Need to match the values in the root-directory .env file
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRS_DB

# PROD ONLY =======================================================================
PORT=PORT # PROD ONLY, define locally if you want to run server on different port than 3000
DEPLOYED_BACKEND_URL=DEPLOYED_BACKEND_URL # PROD ONLY
DATABASE_URL_UNPOOLED=DATABASE_URL_UNPOOLED # PROD ONLY

# Optional ========================================================================
RATE_LIMIT_ALLOWLIST=CSV of IPs allowed to bypass rate limit (for testing)
LOCAL_PRISMA_DATABASE_URL=LOCAL_PRISMA_DATABASE_URL # stores url to run `npx prisma studio`, not required for app to run
